<template>
  <div class="container border p-5 my-5">
    <div class="form-check mb-4">
      <input
        class="form-check-input mb-4"
        type="radio"
        name="CalcType"
        id="manRadio"
        value="man"
        v-model="CalcType"
        @change="calcTex"
        checked
      />
      <label class="form-check-label" for="manRadio"> دخل أفراد </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input mb-4"
        type="radio"
        name="calcType"
        id="companyRadio"
        value="company"
        v-model="CalcType"
        @change="calcTex"
        required
      />
      <label class="form-check-label" for="companyRadio">
        دخل شركات(أفراد اعتبارين)
      </label>
    </div>
    <div class="form-input my-4" v-if="CalcType == 'company'">
      <select
        class="form-select"
        aria-label="Default select example"
        v-model="CompanyType"
        @change="calcTex"
      >
        <option selected value="1">شركات الأموال</option>
        <option value="2">فئه إنتاج السلع</option>
        <option value="3">فئه البناء و الأشغال</option>
        <option value="4">فئه أخرى</option>
      </select>
    </div>
    <div class="form-input mb-3">
      <label for="totalSlide" class="form-label w-100 text-center"
        >إجمالى الدخل</label
      >
      <input
        type="number"
        class="form-control"
        id="totalSlide"
        v-model.number="TotalSlide"
        min="0"
        oninput="validity.valid||(value='');"
        @input="calcTex"
      />
    </div>
  </div>
</template>

<script>
import { ref } from "@vue/reactivity";

export default {
  name: "CalculatorForm",
  emits: ["passing-data"],
  setup(props, { emit }) {
    const TotalSlide = ref("0");
    const CalcType = ref("man");
    const CompanyType = ref("1");

    function calcTex() {
      emit("passing-data", {
        TotalSlide: TotalSlide.value,
        CalcType: CalcType.value,
        CompanyType: CompanyType.value,
      });
    }


    return { CalcType, CompanyType, TotalSlide, calcTex };
  },
};
</script>