<template>
  <div class="container mt-5 pb-2" id="printMe">
    <table class="table table-bordered">
      <thead>
        <tr class="table-dark">
          <th scope="col">الشريحة</th>
          <th scope="col">النسبة</th>
          <th scope="col">الضريبة</th>
          <th scope="col">الصافى</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="operation in operations[0]" :key="operation.index">
          <th scope="row">{{ operation.slide }}</th>
          <td>{{ operation.percentage }} %</td>
          <td>{{ operation.tax }}</td>
          <td>{{ operation.clear }}</td>
        </tr>
        <tr class="table-dark">
          <th scope="row" colspan="2">المبلغ</th>
          <td>إجمالى الضريبه</td>
          <td>صافى الدخل</td>
        </tr>
        <tr>
          <th scope="row" colspan="2">{{ totalSlide }}</th>
          <td>{{ totalTax }}</td>
          <td>{{ totalClear }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { inject } from "@vue/runtime-core";
export default {
  name: "CalculatorTable",
  setup() {
    const totalSlide = inject("totalSlide");
    const totalTax = inject("totalTax");
    const totalClear = inject("totalClear");
    const operations = inject("operations");

    return { totalSlide, totalTax, totalClear, operations };
  },
};
</script>
