<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="navbar-brand">
        <img src="@/assets/logo2.png" width="150" />
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <router-link class="nav-link" to="/calculator">حساب ضرائب</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/calculators">جدول الضرائب</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/profile">بياناتى</router-link>
          </li>
          <li class="nav-item">
            <span href="#" class="nav-link" @click="logout()">تسجيل خروج</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import firebase from "@/firebase";
import { useRouter } from "vue-router";

export default {
  name: "Navbar",
  setup() {
    const router = useRouter();

    function logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          router.push("/");
        });
    }
    return { logout };
  },
};
</script>

<style scoped>
.nav-link {
  cursor: pointer;
}
</style>