<template>
  <div class="topbar w-100 text-white py-2" lang="en" dir="ltr">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col">
          <div class="row">
            <div class="col">
              <i class="fas fa-mobile-alt"></i>
              <span class="mx-2">02+01111111111</span>
            </div>
            <div class="col">
              <i class="far fa-envelope"></i>
              <span class="mx-2">taxes@sha.com</span>
            </div>
          </div>
        </div>
        <div class="col text-start">
          <a href="#" class="mx-3 text-white">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-3 text-white">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-3 text-white">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Topbar",
};
</script>

<style>
.topbar {
  background-color: #67b75e;
}
</style>