<template>
  <AuthNav />
  <HeaderSection>العمليات المسجله</HeaderSection>
  <div class="container mt-5 pb-5">
    <table class="table table-bordered">
      <thead>
        <tr class="table-dark">
          <th scope="col">العمليه</th>
          <th scope="col">تاريخ العمليه</th>
          <th scope="col">المبلغ</th>
          <th scope="col">الضريبة</th>
          <th scope="col">الصافى</th>
          <th scope="col">نوع العمليه</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="Calculator in TableTaxes" :key="Calculator.index">
          <th scope="row">
            <router-link
              class="nav-link"
              :to="{
                name: 'SingleCalculator',
                params: { timeStamp: Calculator.timeStamp.nanoseconds },
              }"
              >{{ Calculator.timeStamp.nanoseconds }}</router-link
            >
          </th>
          <th scope="row">
            {{ Calculator.date }}
          </th>
          <td>{{ Calculator.totalSlide }}</td>
          <td>{{ Calculator.totalTax }}</td>
          <td>{{ Calculator.totalClear }}</td>
          <td>
            {{ Calculator.clacType == "man" ? "شخص" : "شركه (فرد أعتبارى)" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { reactive } from "@vue/reactivity";
import { useStore } from "vuex";
import firebase from "@/firebase";

import AuthNav from "@/components/layouts/AuthNav";
import HeaderSection from "@/components/layouts/HeaderSection";
export default {
  name: "Calculators",
  components: {
    AuthNav,
    HeaderSection,
  },
  setup() {
    const db = firebase.firestore();
    const store = useStore();

    const TableTaxes = reactive([]);

    db.collection("Taxes")
      .where("userId", "==", store.state.Id)
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          TableTaxes.push(doc.data());
        });
      });

    return { TableTaxes };
  },
};
</script>