<template>
  <AuthNav />
  <HeaderSection>حساب ضرائب</HeaderSection>
  <CalculatorForm @passing-data="calcTex" />
  <CalculatorTable />
  <div class="container">
    <button type="button" class="btn mb-4" @click="saveDB()">
      حفظ فى قواعد البانات
    </button>
  </div>
</template>

<script>
import { computed, provide, reactive, ref } from "@vue/runtime-core";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import firebase from "@/firebase";
import AuthNav from "@/components/layouts/AuthNav";
import HeaderSection from "@/components/layouts/HeaderSection";
import CalculatorForm from "@/components/calculator/CalculatorForm";
import CalculatorTable from "@/components/calculator/CalculatorTable";
import CalcTex from "@/functions/CalcTex";
export default {
  name: "Calculator",
  components: {
    AuthNav,
    HeaderSection,
    CalculatorForm,
    CalculatorTable,
  },
  setup() {
    const router = useRouter();
    const store = useStore();

    const TotalSlide = ref("");
    const TotalTax = ref("");
    const TotalClear = ref("");
    const Operations = reactive([]);
    const CalcType = ref("");
    const CompanyType = ref("");
    provide(
      "totalSlide",
      computed(() => TotalSlide.value)
    );
    provide(
      "totalTax",
      computed(() => TotalTax.value)
    );
    provide(
      "totalClear",
      computed(() => TotalClear.value)
    );
    provide(
      "operations",
      computed(() => Operations)
    );

    function calcTex(e) {
      const CalcData = CalcTex(e.TotalSlide, e.CalcType, e.CompanyType);
      TotalSlide.value = CalcData.totalSlide;
      TotalTax.value = CalcData.totalTax;
      TotalClear.value = CalcData.totalClear;
      Operations.splice(0, Operations.length);
      Operations.push(CalcData.operations);
      CalcType.value = e.CalcType;
      CompanyType.value = e.CompanyType;
    }

    function saveDB() {
      const db = firebase.firestore();
      const today =
        new Date().getFullYear() +
        "-" +
        ("0" + (new Date().getMonth() + 1)).slice(-2) +
        "-" +
        ("0" + new Date().getDate()).slice(-2);

      db.collection("Taxes")
        .add({
          date: today,
          operations: Operations[0],
          timeStamp: firebase.firestore.Timestamp.fromDate(new Date()),
          totalClear: TotalClear.value,
          totalSlide: TotalSlide.value,
          totalTax: TotalTax.value,
          userId: store.state.Id,
          clacType: CalcType.value,
          companyType: CompanyType.value,
        })
        .then(() => {
          router.push("/message");
        });
    }

    return { calcTex, saveDB };
  },
};
</script>
