<template>
  <div class="home" lang="en" dir="ltr">
    <Navbar />
    <HeaderSection>Contact Us</HeaderSection>
    <ContactForm />
  </div>
</template>

<script>
import Navbar from "@/components/layouts/Navbar";
import HeaderSection from "@/components/layouts/HeaderSection";
import ContactForm from "@/components/contact/ContactForm";

export default {
  name: "Contact",
  components: {
    Navbar,
    HeaderSection,
    ContactForm,
  },
};
</script>
