<template>
  <main class="home" lang="en" dir="ltr">
    <Navbar />
    <Slide />
    <About />
    <Services />
    <Benefits />
    <Provide />
    <Talk />
    <Clients />
  </main>
</template>

<script>
import Navbar from "@/components/layouts/Navbar";
import Slide from "@/components/home/Slide";
import About from "@/components/home/About";
import Services from "@/components/home/Services";
import Benefits from "@/components/home/Benefits";
import Provide from "@/components/home/Provide";
import Talk from "@/components/home/Talk";
import Clients from "@/components/home/Clients";

export default {
  name: "Home",
  components: {
    Navbar,
    Slide,
    About,
    Services,
    Benefits,
    Provide,
    Talk,
    Clients,
  },
};
</script>
