<template>
  <div class="home" lang="en" dir="ltr">
    <Navbar />
    <HeaderSection>Login</HeaderSection>
    <LoginForm />
  </div>
</template>

<script>
import Navbar from "@/components/layouts/Navbar";
import HeaderSection from "@/components/layouts/HeaderSection";
import LoginForm from "@/components/login/LoginForm";

export default {
  name: "Login",
  components: {
    Navbar,
    HeaderSection,
    LoginForm,
  },
};
</script>