<template>
  <AuthNav />
  <h2 class="text-center">تم تسجيل العمليه</h2>
</template>
<script>
import AuthNav from "@/components/layouts/AuthNav";

export default {
  name: "Message",
  components: {
    AuthNav,
  },
};
</script>
<style scoped>
h2 {
  font-size: 3rem;
  color: #67B75E;
  margin: 38vh 0;
}
</style>