<template>
  <AuthNav />
  <HeaderSection>بيانات الحساب</HeaderSection>
  <div class="container my-5">
    <div class="border p-5">
      <div class="mb-4">
        <h6>الأسم : {{ name }}</h6>
      </div>
      <div class="mb-4">
        <h6>البريد الإلكترونى : {{ email }}</h6>
      </div>
      <div class="mb-4">
        <h6>رقم الضريبى : {{ texesId }}</h6>
      </div>
      <div>
        <h6>عنوان الشركه : {{ address }}</h6>
      </div>
    </div>
  </div>
</template>

<script>
import AuthNav from "@/components/layouts/AuthNav";
import HeaderSection from "@/components/layouts/HeaderSection";
import { useStore } from "vuex";
export default {
  name: "Profile",
  components: {
    AuthNav,
    HeaderSection,
  },
  setup() {
    const store = useStore();

    const name = store.state.Name;
    const email = store.state.Email;
    const texesId = store.state.TaxesId;
    const address = store.state.CompanyAddress;

    return { name, email, texesId, address };
  },
};
</script>