<template>
  <div class="home" lang="en" dir="ltr">
    <Navbar />
    <HeaderSection>Register</HeaderSection>
    <RegisterForm />
  </div>
</template>

<script>
import Navbar from "@/components/layouts/Navbar";
import HeaderSection from "@/components/layouts/HeaderSection";
import RegisterForm from "@/components/register/RegisterForm";
export default {
  name: "Register",
  components: {
    Navbar,
    HeaderSection,
    RegisterForm,
  },
};
</script>

<style>
</style>