<template>
  <AuthNav />
  <HeaderSection>عمليه مسجله</HeaderSection>
  <div class="container mt-5 pb-5" id="printMe">
    <table class="table table-bordered">
      <thead>
        <tr class="table-dark">
          <th scope="col">الشريحة</th>
          <th scope="col">النسبة</th>
          <th scope="col">الضريبة</th>
          <th scope="col">الصافى</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="Calculator in Operations[0]" :key="Calculator.index">
          <th scope="row">{{ Calculator.slide }}</th>
          <td>{{ Calculator.percentage }} %</td>
          <td>{{ Calculator.tax }}</td>
          <td>{{ Calculator.clear }}</td>
        </tr>
        <tr class="table-dark">
          <th>نوع العمليه</th>
          <th>المبلغ</th>
          <td>إجمالى الضريبه</td>
          <td>صافى الدخل</td>
        </tr>
        <tr>
          <td>{{ ClacType == "man" ? "شخص" : "شركه (فرد أعتبارى)" }}</td>
          <th>{{ TotalSlide }}</th>
          <td>{{ TotalTax }}</td>
          <td>{{ TotalClear }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { reactive, ref } from "@vue/reactivity";
import { useRoute } from "vue-router";
import { useStore } from "vuex";
import firebase from "@/firebase";
import AuthNav from "@/components/layouts/AuthNav";
import HeaderSection from "@/components/layouts/HeaderSection";

export default {
  name: "SingleCalculator",
  components: {
    AuthNav,
    HeaderSection,
  },
  setup() {
    const store = useStore();
    const route = useRoute();

    const TotalSlide = ref("");
    const TotalTax = ref("");
    const TotalClear = ref("");
    const ClacType = ref("");
    const Operations = reactive([]);

    const db = firebase.firestore();
    db.collection("Taxes")
      .where("userId", "==", store.state.Id)
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          if (doc.data().timeStamp.nanoseconds == route.params.timeStamp) {
            Operations.push(doc.data().operations);
            TotalSlide.value = doc.data().totalSlide;
            TotalTax.value = doc.data().totalTax;
            TotalClear.value = doc.data().totalClear;
            ClacType.value = doc.data().clacType;
          }
        });
      });

    return { TotalSlide, TotalTax, TotalClear, ClacType, Operations };
  },
};
</script>