<template>
  <section class="text-center my-5 container">
    <h2 class="pb-3 title-section">About Us</h2>
    <p>
      APAC Taxation provide services to residents and companies doing business
      in Greater China. We specialise in taxation services for foreigners and
      foreign companies. Our team of Certified Public Accountants (CPA) are
      highly skilled and heavily experienced. Based out of Hong Kong and China,
      we understand both China Tax Laws and Hong Kong Tax Laws. Our role is to
      help foreign individuals and foreign corporations to easily navigate the
      minefield of taxation laws. We also aim to keep you compliant, as well as
      provide you with the best advice that will reduce your tax commitment and
      maximise your benefit. We work with all different sized businesses.
    </p>
    <p>
      We are familiar with international tax-optimization structures and
      compliance regulations in both countries. We can help you reduce your
      costs and decrease your tax exposure while remaining complaint. To talk to
      use about our services and how we can benefit you or your business, get in
      touch with us today.
    </p>
  </section>
</template>

<script>
export default {
  name:"About"
};
</script>

<style scoped>
p {
  line-height: 200%;
}
</style>