<template>
  <section class="services">
    <div class="text-center pb-5 container">
      <h2 class="py-5 title-section">What our clients say about us</h2>
      <div class="row">
        <div class="col-12 col-lg-4 mb-4">
          <div class="card text-end">
            <div class="card-body">
              <p class="card-text">
                I’ll happily vouch for APAC Taxation. I’ve been using them for
                over 3 years now and I am very happy with them.
              </p>
              <h5>John Smith | Director</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <div class="card text-end">
            <div class="card-body">
              <p class="card-text">
                I could never find the right accountant for my Chinese business
                until I started using APAC Taxation. That was 5 years ago and I
                haven’t looked back.
              </p>
              <h5>Adam Karantzis | General Manager</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <div class="card text-end">
            <div class="card-body">
              <p class="card-text">
                I not only trust APAC Taxation, but I feel they provide the
                right advice ahead of time. They’re looking after my best
                interest.
              </p>
              <h5>Carolyn Fahey | Director</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name:"Clients"
};
</script>