<template>
  <section class="provide">
    <div class="text-center pb-5 container">
      <h2 class="py-5 title-section">We also provide</h2>
      <p>
        Accounting – Payroll Employment Services (PEO) – Employee back ground
        checks – Hong Kong Company Secretary Service
      </p>
      <a href="#" class="btn mt-5">LEARN MORE</a>
    </div>
  </section>
</template>
<script>
export default {
  name:"Provide"
};
</script>
<style scoped>
.provide {
  background: #fafafa;
}
.card {
  border: none;
  background: #fafafa;
}
.card-title {
  color: #67b75e;
  font-weight: bold;
}
</style>