<template>
  <section class="services">
    <div class="text-center pb-5 container">
      <h2 class="py-5 title-section">Services</h2>
      <div class="row">
        <div class="col-12 col-lg-4 mb-4">
          <div class="card text-end">
            <img src="@/assets/s1.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">CHINA INDIVIDUAL INCOME TAX</h5>
              <p class="card-text">
                We prepare and lodge China Individual Income Tax (IIT) returns
                for both residents and non-residents. We also provide a range of
                other individual income tax services.
              </p>
              <a href="#" class="btn">LEARN MORE</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <div class="card text-end">
            <img src="@/assets/s2.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">HONG KONG PERSONAL TAX</h5>
              <p class="card-text">
                We prepare and lodge Hong Kong Personal Tax returns for both
                residents and non-residents. Also known as salary tax, we also
                provide other personal tax services.
              </p>
              <a href="#" class="btn">LEARN MORE</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <div class="card text-end">
            <img src="@/assets/s3.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">US INDIVIDUAL INCOME TAX</h5>
              <p class="card-text">
                If you’re an American expat living in China or Hong Kong then
                you have to file a US Tax Return every year. We provide US
                Individual Tax Returns for foreigners living in China or Hong
                Kong.
              </p>
              <a href="#" class="btn">LEARN MORE</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <div class="card text-end">
            <img src="@/assets/s4.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">CHINA CORPORATE TAX</h5>
              <p class="card-text">
                Chinese Corporate Tax laws are complex. Not only are there
                numerous tax regulations on a national level, each Province has
                additional tax regulations (that vary from city to city). For
                any overview on how this works, click through.
              </p>
              <a href="#" class="btn">LEARN MORE</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <div class="card text-end">
            <img src="@/assets/s5.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">HONG KONG CORPORATE TAX</h5>
              <p class="card-text">
                We offer corporate taxation services in Hong Kong. If you’re
                looking for a Hong Kong Tax Representative, we can help you with
                Profits Tax Return, Employers Return, as well as advise on Hong
                Kong tax regulations.
              </p>
              <a href="#" class="btn">LEARN MORE</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <div class="card text-end">
            <img src="@/assets/s6.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">TAIWAN AND MACAU TAX</h5>
              <p class="card-text">
                We also provide Macau Individual Tax, Macau Corporate Tax,
                Taiwan Individual Income Tax, and Taiwan Corporate Tax services
                for foreign individuals and companies.
              </p>
              <a href="#" class="btn">LEARN MORE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Services",
};
</script>

<style scoped>
.services {
  background: #fafafa;
}
.card {
  border: none;
  background: #fafafa;
}
.card-title {
  color: #67b75e;
  font-weight: bold;
}

p {
  line-height: 200%;
  height: 160px;
}
</style>