<template>
  <div class="main">
    <div class="container content d-flex align-items-center">
      <div class="row">
        <div class="logo">
          <img src="@/assets/logo2.png" width="350" />
        </div>
        <h1 class="text-white my-5">
          We help you to get <br />
          your Taxes Calculations
        </h1>
        <router-link class="btn2 mt-5" to="/">Download</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Slide",
};
</script>

<style scoped>
.btn {
  margin: 15px;
  background: #67b75e;
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
}
.btn2 {
  display: inline;
  width: 190px;
  margin: 15px;
  background: #67b75e;
  color: #fff;
  padding: 5px 15px 10px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
}
.main {
  background-image: url("../../assets/bg.jpg");
  min-height: 85vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  height: 90vh;
}
h1 {
  font-size: 50px;
}
</style>