<template>
  <div class="talk">
    <div class="text-center py-5 container">
      <h2 class="py-5 title-section">Talk to us today</h2>
      <p>
        If you’re an individual or business in China or Hong Kong and need
        taxations services, then get in touch with us. If you’re an expat
        non-resident, or foreign company doing business in China or Hong Kong,
        and need taxation service, then get in touch with us today.
      </p>
      <a href="#" class="btn mt-3">GET IN TOUCH</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Talk",
};
</script>

<style scoped>
.talk {
  background-image: url("../../assets/bg2.jpg");
  min-height: 45vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-section,
p {
  color: #fff;
}
p {
  font-size: 1.4rem;
  line-height: 180%;
}
.btn {
  background: #67b75e;
  color: #fff;
}
</style>