<template>
  <form class="container my-5">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Full Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail2" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail2"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail3" class="form-label">Phone Number</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail3"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail4" class="form-label">Message</label>
      <textarea
        class="form-control"
        id="exampleInputEmail4"
        aria-describedby="emailHelp"
      ></textarea>
    </div>
    <button type="submit" class="btn">Send your message</button>
  </form>
</template>
<script>
export default {
  name: "ContactForm"
};
</script>
<style scoped>
textarea {
  height: 200px;
}
.btn {
  background: #67b75e;
  color: #fff;
  font-size: 18px;
}
</style>