 <template>
  <div class="container my-5">
    <form @submit.prevent="submit()">
      <div class="mb-3">
        <label for="input1" class="form-label">Name</label>
        <input
          type="text"
          class="form-control text-end"
          id="input1"
          placeholder="Enter Your Name"
          v-model="Name"
        />
      </div>
      <div class="mb-3">
        <label for="input2" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control text-end"
          id="input2"
          placeholder="name@example.com"
          v-model="Email"
        />
      </div>
      <div class="mb-3">
        <label for="input3" class="form-label">Company Taxes ID</label>
        <input
          type="text"
          class="form-control text-end"
          id="input3"
          placeholder="Company Taxes ID"
          v-model="TexesId"
        />
      </div>
      <div class="mb-3">
        <label for="input4" class="form-label">Company Address</label>
        <input
          type="text"
          class="form-control text-end"
          id="input4"
          placeholder="Company Address"
          v-model="Address"
        />
      </div>
      <div class="mb-3">
        <label for="input5" class="form-label">Password</label>
        <input
          type="password"
          class="form-control text-end"
          id="input5"
          v-model="Password"
        />
      </div>
      <button type="submit" class="btn bg-main fw-bold my-4">Register</button>
      <hr />
      <router-link
        class="link text-center fw-bold"
        aria-current="page"
        to="/login"
        >تسجيل الدخول</router-link
      >
    </form>
  </div>
</template>

<script>
import { ref } from "@vue/reactivity";
import { useRouter } from "vue-router";
import firebase from "@/firebase";

export default {
  name: "RegisterForm",
  setup() {
    const router = useRouter();
    
    const Name = ref("");
    const Email = ref("");
    const TexesId = ref("");
    const Address = ref("");
    const Password = ref("");

    function submit() {
      var db = firebase.firestore();
      firebase
        .auth()
        .createUserWithEmailAndPassword(Email.value, Password.value)
        .then(() => {
          db.collection("Users")
            .add({
              name: Name.value,
              email: Email.value.toLowerCase(),
              taxesId: TexesId.value,
              companyAddress: Address.value,
            })
            .then(() => {
              router.push("/");
            });
        });
    }

    return { Name, Email, TexesId, Address, Password, submit };
  },
};
</script>

<style scoped>
.link {
  text-decoration: none;
  color: #67b75e;
}
</style>