<template>
  <Topbar />
  <router-view />
  <FooterSection />
</template>


<script>
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import firebase from "@/firebase";
import Topbar from "@/components/layouts/Topbar";
import FooterSection from "@/components/layouts/FooterSection";

export default {
  name: "App",
  components: { Topbar, FooterSection },
  setup() {
    const router = useRouter();
    const store = useStore();

    firebase.auth().onAuthStateChanged(async (user) => {
      if (user) {
        const db = firebase.firestore();
        db.collection("Users")
          .where("email", "==", user.email)
          .get()
          .then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              let data = {
                Id: user.uid,
                name: doc.data().name,
                email: doc.data().email,
                taxesId: doc.data().taxesId,
                companyAddress: doc.data().companyAddress,
              };
              store.commit("authLogin", data);
              router.push("/calculator");
            });
          });
      } else {
        store.commit("authLogout");
      }
    });
  },
};
</script>

<style>
.title-section {
  color: #67b75e;
  font-size: 3rem;
  font-weight: bold;
}
.btn {
  background: #67b75e;
  color: #fff;
  font-size: 18px;
}
</style>